@mixin meyer-reset {
  html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline;
  }

  article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
  }

  body {
    line-height: 1;
  }

  ol, ul {
    list-style: none;
  }

  blockquote, q {
    quotes: none;
  }

  blockquote {
    &:before, &:after {
      content: "";
      content: none;
    }
  }

  q {
    &:before, &:after {
      content: "";
      content: none;
    }
  }

  table {
    border-collapse: collapse;
    border-spacing: 0;
  }
}
@include meyer-reset;

@mixin form-reset {
  input,
  label,
  select,
  button,
  textarea {
  	display:inline-block;
  	margin:0;
  	padding:0;
  	border:0;
  	background:none;
    color: inherit;
  	font-family: inherit;
  	/* Browsers have different default form fonts */
  	font-size:inherit;
  	line-height: inherit;
  	white-space:normal;
  	vertical-align:middle;
  }

  input {
    -webkit-appearance: none;
  }

  /* Remove the stupid outer glow in Webkit */
  input:focus,
  button:focus,
  select:focus,
  textarea:focus {
    border: none;
    outline: 0;
  }

  /* Box Sizing Reset
  -----------------------------------------------*/

  /* All of our custom controls should be what we expect them to be */
  input,
  textarea {
  	box-sizing:border-box;
  }

  /* These elements are usually rendered a certain way by the browser */
  button,
  input[type=reset],
  input[type=button],
  input[type=submit],
  input[type=checkbox],
  input[type=radio],
  select {
  	box-sizing:border-box;
  }

  input[type=date],
  input[type=datetime],
  input[type=datetime-local],
  input[type=email],
  input[type=month],
  input[type=number],
  input[type=password],
  input[type=range],
  input[type=search],
  input[type=tel],
  input[type=text],
  input[type=time],
  input[type=url],
  input[type=week] {

  }

  input[type=checkbox],
  input[type=radio] {
  	width:13px;
  	height:13px;
  }

  input[type=file] {

  }

  /* Make webkit render the search input like a normal text field */
  input[type=search] {
  	-webkit-appearance:textfield;
  	-webkit-box-sizing:content-box;
  }

  /* Turn off the recent search for webkit. It adds about 15px padding on the left */
  ::-webkit-search-decoration {
  	display:none;
  }

  /* Buttons
  -----------------------------------------------*/

  button,
  input[type="reset"],
  input[type="button"],
  input[type="submit"] {
  	width:auto;
  	/* Fix IE7 display bug */
  	overflow:visible;
  }

  /* IE8 and FF freak out if this rule is within another selector */
  ::-webkit-file-upload-button {
  	padding:0;
  	border:0;
  	background:none;
  }

  textarea {
  	/* Turn off scroll bars in IE unless needed */
  	overflow:auto;
  	/* Move the label to the top */
  	vertical-align:top;
  }

  select {

  }

  select[multiple] {
  	/* Move the label to the top */
  	vertical-align:top;
  }
}
@include form-reset;

@mixin button-reset {
    -webkit-font-smoothing: inherit;
    -moz-osx-font-smoothing: inherit;
    -webkit-appearance: none;
    width: auto;
    margin: 0;
    padding: 0;
    overflow: visible;
    border: none;
    background: transparent;
    color: inherit;
    font: inherit;
    line-height: normal;
    text-align: inherit;

    cursor: pointer;

    &:focus {
      outline: none;
    }
    &:-moz-focus-inner {
        padding: 0;
        border: 0;
    }
}

$black: #121212;
$white: white;
$grey-01: #DFDFDF;
$grey-02: #CECECE;
$grey-03: #D6D6D6;
$font-01: 'Maison Neue';
$font-02: 'Beirut';
$font-03: 'Brown';
$stroke-weight: 3px;
$unit-01: calc(10px + .4vw);
$unit-02: calc(20px + .4vw);
$unit-03: calc(30px + .4vw);
$unit-04: calc(40px + .4vw);
$unit-05: calc(50px + .4vw);
$unit-06: calc(60px + .4vw);

* {
	font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
	box-sizing: border-box;
	text-rendering: optimizeLegibility;

	&:after, &:before {
		font-smoothing: antialiased;
    -webkit-font-smoothing: antialiased;
  	-moz-osx-font-smoothing: grayscale;
		box-sizing: border-box;
		text-rendering: optimizeLegibility;
	}
}

html {
	font-size: 62.5%;
}

body {
  backface-visibility: hidden;
	background: $grey-01;
  color: $black;
	font-family: $font-01;
	font-size: 14px;
  font-size: calc(14px + .3vw);
  line-height: 1.5;

  &.no-scroll {
    overflow: hidden;
  }
}

small, label {
  display: inline-block;
  font-family: 'Maison Mono';
  font-size: .7em;
  letter-spacing: .06em;
  text-transform: uppercase;
}

img, video {
	display: block;
	width: 100%;
}

p, ul, ol, h1, h2, h3, h4, h5 {
	padding: $unit-02;
}

h1, h2, h3, h4, h5 {
  font-family: $font-02;
  font-weight: bold;
}

h2 {
  font-size: 2.2em;
  line-height: 1.2;
}

h3 {
  font-size: 1.8em;
  line-height: 1.2;
}

h4 {
  font-size: 1.4em;
  line-height: 1.2;
}

h5 {
  font-size: 1.2em;
  line-height: 1.2;
}

.st0 {
  fill: $white;
}
.st1 {
  fill: $black;
}

a {
  border-bottom: 1px solid black;
  color: $black;
	text-decoration: none;

  &.button {
    display: inline-block;
    padding: $unit-01 $unit-03;
    border: $stroke-weight solid $black;
    backface-visibility: hidden;
    background: white;
    line-height: .5;
    transition: 220ms background cubic-bezier(.165, .84, .44, 1);
    will-change: background;

    &:hover {
      background: transparent;
    }
  }

  &.button-small {
    display: inline-block;
    padding: 10px;
    border: 1px solid $black;
    backface-visibility: hidden;
    background: transparent;
    line-height: 1;
    transition: 220ms background cubic-bezier(.165, .84, .44, 1);
    will-change: background;

    &:hover {
      background: $white;
    }
  }

	&:focus {
		outline: 0;
	}

	&:hover {
    border-bottom: 2px solid transparent;
	}
}

u {
  border-bottom: 1px solid $black;
  text-decoration: none;
}

button {
  @include button-reset;
}

.title-flash {
  display: flex;
  position: fixed;
  top: 0px;
  left: 0px;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  backface-visibility: hidden;
  background: $black;
  opacity: 0;
  pointer-events: none;
  transition: 660ms opacity ease-in-out;
  will-change: opacity;
  z-index: 10000;

  svg {
    width: 60vw;
    max-width: 320px;
  }

  &.show {
    opacity: 1;
  }
}

.st0 {
  fill: white;
}

.st1 {
  fill: $black;
}

.splash {

  main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 8vw;

    .logo {
      position: fixed;
      top: 2vh;
      left: 4vw;
      transform: translate3d(0, 0, 0);
      z-index: 10;

      svg {
        width: calc(40px + 2vw);
      }
    }

    .social {
      padding: 8vh 0;
      padding-top: 0;
      font-size: 1.2em;

      a {
        margin: 0 1vw;
        border: none;
      }
    }

    .name {
      position: fixed;
      bottom: 2vh;
      left: 4vw;
      transform: translate3d(0, 0, 0);
      z-index: 10;
    }

    .contact {
      position: fixed;
      right: 4vw;
      bottom: 2vh;
      transform: translate3d(0, 0, 0);
      z-index: 10;

      button {
        display: block;
        width: 100%;
        padding: calc(13px + .4vw) calc(13px + .4vw);
        background: #C5B358;
        line-height: 1;
        text-align: center;

        &:hover {
          background: $black;
          color: $white;
        }
      }
    }

    .rates {
      position: fixed;
      top: 2vh;
      right: 4vw;
      transform: translate3d(0, 0, 0);
      z-index: 10;

      a {
        // padding: calc(13px + .4vw) calc(13px + .4vw);
        // text-align: center;
        display: block;
        width: 100%;
        border-bottom: 2px solid $black;
        line-height: 1.2;

        &:hover {
          border-bottom-color: transparent;
        }
      }
    }

    .intro {
      display: flex;
      position: relative;
      align-items: center;
      justify-content: center;
      padding: 16vh 0;
      text-align: center;

      a {
        border-bottom-width: 3px;
        border-bottom-width: calc(1px + .2vw);
        cursor: pointer;
      }

      .bottom {
        position: absolute;
        bottom: 0px;
        left: 50%;
        padding: 2vh 2vw;
        padding-top: 2.5vh;
        transform: translate3d(-50%, 50%, 0);
        background: white;
        white-space: nowrap;
      }
    }

    .hero {
      width: 100%;

      figure {
        height: auto;

        img {
          width: 100%;
        }
      }
    }

    .about {
      padding: 8vh 16vw;
      padding-top: 8vh;

      p {
        font-size: 1.2em;
      }

      h2 {
        text-align: center;
      }
    }

    .glance {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      width: 100%;
      padding: 8vh 0;
      padding-top: 0px;

      .grid {
        display: flex;
        flex-wrap: wrap;

        h5 {
          padding-bottom: 0px;
          font-family: 'Brown';
          letter-spacing: .04em;
          text-transform: uppercase;
        }

        .cell {
          // text-align: center;
          width: 33.33%;
        }
      }
    }

    .form-modal {
      -webkit-overflow-scrolling: touch;
      position: fixed;
      top: 0px;
      left: 100vw;
      width: 50vw;
      height: 100vh;
      overflow: scroll;
      backface-visibility: hidden;
      transition: 660ms left ease-in-out;
      will-change: left;
      z-index: 100;

      &.show {
        left: 50vw;
      }

      .form {
        padding: 4vh 4vw;
        padding-bottom: 16vh;
        background: $black;
        color: white;

        .close {
          position: absolute;
          top: 0px;
          right: 0px;

          a {
            border: none;
            cursor: pointer;
          }

          p {
            padding-top: $unit-02;
          }
        }

        h4, p {
          margin-bottom: 6vh;
          padding-left: 0px;
        }

        p {
          padding-top: 0px;
        }

        ::placeholder {
          opacity: .4;
        }

        label {
          display: block;
          padding: 1vh 0;
          font-size: .6em;
          letter-spacing: .04em;
          text-transform: uppercase;
        }

        input, select, fieldset {
          -webkit-appearance: none;
          width: 100%;
          padding: 18px;
          border-radius: 0;
          background: rgba(255,255,255,.06);

          &[type=radio] {
            width: auto;
            margin-right: 1vw!important;
          }
        }

        textarea {
          width: 100%;
          height: 180px;
          padding: 18px;
          background: rgba(255,255,255,.06);
          resize: none;
        }
      }

      .screen {
        position: absolute;
        top: 0px;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
      }
    }

    .foot {
      width: 100%;
      padding-bottom: 2vh;
      text-align: center;
    }
  }

  .thankyou {
    display: flex;
    position: fixed;
    top: 0px;
    left: 0px;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    backface-visibility: hidden;
    background: rgba(255,255,255,.95);
    text-align: center;
    opacity: 0;
    pointer-events: none;
    transition: 660ms opacity ease-in-out;
    will-change: opacity;
    z-index: 10000;

    &.show {
      opacity: 1;
    }
  }
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px black inset;
    -webkit-text-fill-color: white !important;
}

@media only screen and (max-width: 1024px) {
  h2 {
    font-size: 1.8em;
  }
}

@media only screen and (max-width: 768px) {
  h2 {
    font-size: 1.3em;

    br {
      display: none;
    }
  }
  .splash {

    main {
      padding: 0px;

      .contact {
        position: fixed;
        right: 50vw;
        bottom: 0vh;
        width: 100%;
        transform: translate3d(50%, 0, 0);
        z-index: 1000;

        button {
          display: block;
          padding: calc(13px + 2vw)0;
        }

        p {
          padding: 0px;
        }
      }

      .logo {
        left: 50vw;
        transform: translate3d(-50%, 0, 0);
      }

      .name {
        display: none;
        position: fixed;
        top: 2vh;
        right: 4vw;
        bottom: auto;
        left: auto;
        transform: translate3d(0, 0, 0);
        z-index: 10;
      }

      .social {
        padding-top: 0;
        padding-bottom: 0px;

        a {
          margin: 0 2vw;
        }
      }

      .intro {
        display: block;
        padding-top: 18vh;
        padding-bottom: 0px;
        text-align: center;

        a {
          cursor: pointer;
        }

        .bottom {
          position: relative;
          bottom: auto;
          left: auto;
          margin-top: 6vh;
          padding: 4vh 8vw;
          padding-top: 4.5vh;
          transform: translate3d(0, 0, 0);
          background: white;
          white-space: normal;

          br {
            display: none;
          }
        }
      }

      .form-modal {
        position: fixed;
        top: 100vh;
        left: 0px;
        width: 100vw;
        height: 100vh;
        backface-visibility: hidden;
        transition: 660ms top ease-in-out;
        will-change: top;
        z-index: 100000;

        &.show {
          top: 0px;
          left: 0px;
        }

        .form {
          padding: 8vh 8vw;
          padding-bottom: 16vh;

          .close {
            position: absolute;
            top: 0px;
            right: 0px;

            a {
              border: none;
              cursor: pointer;
            }

            p {
              padding-top: $unit-02;
            }
          }

          h4, p {
            margin-bottom: 6vh;
            padding-left: 0px;
          }

          p {
            padding-top: 0px;
          }

          ::placeholder {
            opacity: .4;
          }

          label {
            display: block;
            padding: 1vh 0;
            font-size: .6em;
            letter-spacing: .04em;
            text-transform: uppercase;
          }

          input, select, fieldset {
            -webkit-appearance: none;
            width: 100%;
            padding: 18px;
            border-radius: 0;
            background: rgba(255,255,255,.06);

            &[type=radio] {
              width: auto;
              margin-right: 1vw!important;
            }
          }

          textarea {
            width: 100%;
            height: 180px;
            padding: 18px;
            background: rgba(255,255,255,.06);
            resize: none;
          }
        }

        .screen {
          display: none;
        }
      }

      .about {
        padding: 4vh 4vw;
        padding-top: 4vh;

        p {
          font-size: 1.2em;
        }

        h2 {
          text-align: center;
        }
      }

      .glance {
        padding: 4vh 4vw;

        .grid {

          .cell {
            width: 50%;
          }
        }
      }

      .foot {
        padding-bottom: 20vh;
      }
    }
  }
}
